.text-blue {
  color: #2f6ce5;
}

.container {
  max-width: 1260px;
  padding: 0px 10px;
  margin: auto;
}

.close_button {
  cursor: pointer;
}

.btn-blue {
  background: #2f6ce5;
  color: #fff;
}

.cursor-pinter:hover {
  cursor: pointer;
}

textarea.post-form::placeholder {
  color: rgb(141, 141, 141);
  font-size: 18px;
  font-weight: 600;
}

.post-form {
  outline: none;
  font-size: 18px;
}

.eye-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(87, 87, 87);
}

.text-sm {
  font-size: 14px;
  font-weight: 500;
}

.icon-size {
  font-size: 25px;
}

.sticky-position {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: white;
  border-bottom: 2px solid #ddd;
}

.padding {
  padding: 20px 12px !important;
}

@media only screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90%;
  }
  .post-container {
    padding: 15px 10px !important;
  }
  .button {
    font-size: 12px;
  }
  .padding {
    padding: 0px 0px;
  }
}
@media only screen and (max-width: 560px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 100%;
  }
}
