.text-blue {
  color: #2f6ce5;
}

.container {
  max-width: 1260px;
  padding: 0px 10px;
  margin: auto;
}

.second_container {
  max-width: 1020px;
  padding: 0px 12px;
  margin: auto;
}

.close_button {
  cursor: pointer;
}

.btn-blue {
  background: #2f6ce5;
  color: #fff;
}

.cursor-pinter:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90%;
  }
}
@media only screen and (max-width: 560px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 100%;
  }
}
