.text-blue {
  color: #2f6ce5;
}

.container {
  max-width: 1260px;
  padding: 0px 10px;
  margin: auto;
}

.close_button {
  cursor: pointer;
}

.btn-blue {
  background: #2f6ce5;
  color: #fff;
}

.cursor-pointer:hover {
  cursor: pointer;
}

textarea.post-form::placeholder {
  color: rgb(141, 141, 141);
  font-size: 18px;
  font-weight: 600;
}

.post-form {
  outline: none;
  font-size: 18px;
}

.eye-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(87, 87, 87);
}

.text-sm {
  font-size: 13px;
}

.text-base{
  font-size: 16px;
}

.icon-size {
  font-size: 25px;
}

.icon{
  font-size: 20px;
}

.sticky-position {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: white;
  border-bottom: 2px solid #ddd;
}

.padding {
  padding: 20px 12px !important;
}

.border-radius {
  border-radius: 15px;
}

.profile {
  left: 36%;
  bottom: -31px;
}

.link-hover {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.link-hover:hover {
  text-decoration: underline;
}

.image-radius {
  border-radius: 15px 15px 0px 0px;
}

.border-radius-bottom {
  border-radius: 0px 0px 15px 15px;
}

.view-profile:hover {
  background-color: #ddd;
  transition: all 0.2s;
}

.stick-bar-top {
  top: 85px;
}

.btn-hover:hover {
  background-color: #ddd;
  color: black !important;
  transition: all 0.6s;
}

.btn-active {
  background-color: #ddd;
  color: black !important;
}

.grid-system {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media only screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90%;
  }
  .post-container {
    padding: 15px 10px !important;
  }
  .button {
    font-size: 12px;
  }
  .padding {
    padding: 0px 0px !important;
  }
  .text-base{
    font-size: 13px;
  }
  .icon{
    font-size: 13px;
  }
}
@media only screen and (max-width: 560px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 100%;
  }
}
